@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 255, 157;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; 
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff9d; 
}

.cyber-border {
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 255, 157, 0.1);
}

.cyber-glow {
  text-shadow: 0 0 5px rgba(0, 255, 157, 0.5);
}
